server:
  port: 8081

spring:
  application:
    name: auth-service

  datasource:
    url: jdbc:postgresql://localhost:5432/auth_db
    username: admin
    password: password123
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

    application:
      security:
        jwt:
         secret-key: "bmV3LXNlY3JldC1rZXktd2hpY2gtaXMtYmFzZTY0LWVuY29kZWQtYW5kLXZlcnktc2VjdXJl"
         expiration: 86400000