server:
  port: 8082

spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/product_db
    username: postgres
    password: password
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true


application:
  security:
    jwt:
      secret-key: ${JWT_SECRET_KEY:bmV3LXNlY3JldC1rZXktd2hpY2gtaXMtYmFzZTY0LWVuY29kZWQtYW5kLXZlcnktc2VjdXJl}