name: Auth Service CD

on:
  workflow_run:
    workflows: ["Auth Service CI"]
    types: [completed]
    branches: [main]

jobs:
  deploy:
    # Only run if CI was successful
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    steps:
      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          # Tomorrow you will choose ONE of these:
          credentials_json: ${{ secrets.GCP_SA_KEY }} 
          # OR if you use WIF:
          # workload_identity_provider: 'projects/...'
          # service_account: '...'

      - name: Deploy to Cloud Run
        run: |
          gcloud run deploy auth-service \
            --image ghcr.io/${{ github.repository_owner }}/auth-service:latest \
            --region us-central1 \
            --port 8081 \
            --allow-unauthenticated
