name: Product Service CI/CD

on:
  push:
    branches: [ main ]
    paths:
      - 'product-service/**'
      - '.github/workflows/product-ci.yml'

jobs:
  test-and-build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'maven'

      - name: Run Tests with Testcontainers
        # This will work on GitHub because Linux has Docker pre-installed!
        run: mvn test -pl product-service

      - name: Build with Maven
        run: mvn clean package -DskipTests -pl product-service

      # --- GOOGLE CLOUD STEPS (For Tomorrow) ---
      # - name: Authenticate to Google Cloud
      #   uses: 'google-github-actions/auth@v2'
      #   with:
      #     credentials_json: '${{ secrets.GCP_SA_KEY }}'

      # - name: Build and Push Podman/Docker Image
      #   run: |
      #     gcloud auth configure-docker us-central1-docker.pkg.dev
      #     docker build -t us-central1-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/ecommerce/product-service:latest ./product-service
      #     docker push us-central1-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/ecommerce/product-service:latest
