name: Product Service CI/CD

on:
  push:
    branches: [ main ]
    paths:
      - 'product-service/**'
      - '.github/workflows/product-ci.yml'

jobs:
  test-build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'maven'

      # This step does EVERYTHING: 
      # 1. Starts Testcontainers 
      # 2. Runs JUnits 
      # 3. If tests pass, it creates the JAR file in target/
      - name: Test and Build JAR
        run: mvn clean package -pl product-service

      - name: Log in to GHCR
        run: echo "${{ secrets.GITHUB_TOKEN }}" | podman login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Build and Push Image with Podman
        run: |
          cd product-service
          # This uses the JAR created in the step above
          podman build -t ghcr.io/${{ github.repository_owner }}/product-service:latest -f Containerfile .
          podman push ghcr.io/${{ github.repository_owner }}/product-service:latest
